@charset "UTF-8";
:root {
  --logo-part-color: #2196F3;
  /* цвет части логотипа */
  --main-accent-color: #2196F3;
  /* цвет наведении */
  --header-nav-color: #212121;
  /* цвет навигации */
  --header-text-color: #757575;
  /* цвет остального текста шапки */
  --main-title-sm-color: #212121;
  /* цвет цвет заголовкоц низшего уровня */
  --main-text-color: #757575;
  /* цвет текста */
  --main-svg-cplor: #AFB1BB;
  /* цвет SVG картинок */
}

/* для скрытых заголовков */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: 'Roboto', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
  /* убирает все подчеркивания */
}

.list {
  list-style: none;
  /* убирает все маркеры в списках */
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn {
  cursor: pointer;
  border: transparent;
}

.button {
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background: #188CE8;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: block;
}

.logo__aсcent {
  color: var(--logo-part-color);
}

.logo__header {
  color: #000000;
  margin-right: 93px;
}

.logo__footer {
  color: #FFFFFF;
  margin-bottom: 20px;
}

.social {
  display: flex;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--main-accent-color);
}

.social__link--team {
  color: var(--main-svg-cplor);
}

.social__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #FFFFFF;
}

.social__icon--footer {
  fill: #FFFFFF;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav__list {
  display: flex;
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-nav-color);
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__link:hover, .header-nav__link:focus {
  color: var(--main-accent-color);
}

.header-nav__underline::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--main-accent-color);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
}

.header-contacts__list {
  display: flex;
  margin-left: auto;
}

.header-contacts__item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--main-accent-color);
}

.header-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.heading {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/studio/bg1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.heading .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 696px;
  margin-bottom: 30px;
}

.features__list {
  display: flex;
}

.features__item {
  width: 270px;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__container {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 25px;
}

.features__icon {
  display: block;
}

.features__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-sm-color);
  margin-bottom: 10px;
}

.features__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.activity__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-sm-color);
  margin-bottom: 50px;
}

.activity__list {
  display: flex;
  position: relative;
}

.activity__item:not(:last-child) {
  margin-right: 30px;
}

.activity__img {
  display: block;
}

.activity__caption {
  width: 370px;
  height: 70px;
  padding: 27px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: 0;
}

.activity__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.team {
  background: #F5F4FA;
}

.team__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-sm-color);
  margin-bottom: 50px;
}

.team__list {
  display: flex;
}

.team__item {
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__img {
  display: block;
}

.team-caption {
  padding: 30px 32px;
}

.team-caption__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-sm-color);
  margin-bottom: 10px;
}

.team-caption__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

.clients__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-sm-color);
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
}

.clients__item {
  display: block;
  width: 170px;
  height: 92px;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-svg-cplor);
  border: 1px solid var(--main-svg-cplor);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: var(--main-accent-color);
  color: var(--main-accent-color);
}

.clients__icon {
  display: block;
  fill: currentColor;
}

.backdrop {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
}

.modal-close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover, .modal-close:focus {
  fill: var(--main-accent-color);
}

.modal-close__icon {
  display: block;
}

.modal__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form__field {
  margin-bottom: 10px;
}

.modal-form__label {
  display: block;
  margin-bottom: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.1em;
  color: var(--main-text-color);
}

.modal-form__wrape {
  position: relative;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding: 12px 40px;
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.modal-form__input:focus {
  border-color: var(--main-accent-color);
}

.modal-form__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--main-accent-color);
}

.modal-form__comment {
  display: block;
  margin-bottom: 20px;
}

.modal-form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea:focus {
  border-color: var(--main-accent-color);
}

.modal-form__textarea::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.1em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox {
  margin-bottom: 30px;
}

.modal-checkbox__label {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.modal-checkbox__icon {
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox__input:checked + .modal-checkbox__label .modal-checkbox__icon {
  background: var(--main-accent-color);
  border: transparent;
}

.modal-checkbox__link {
  text-decoration-line: underline;
  color: var(--main-accent-color);
}

.modal-form__button {
  margin: 0 auto;
}

.portfolio-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-button__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button__btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button__btn:hover, .portfolio-button__btn:focus {
  color: #FFFFFF;
  background: var(--main-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-content {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-content__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-content__item:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-content__overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-content__img {
  display: block;
}

.portfolio-content__description {
  widows: 100%;
  height: 100%;
  padding: 63px 24px;
  font-family: Roboto;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-content__item:hover .portfolio-content__description {
  transform: translateY(0%);
}

.portfolio-content__caption {
  display: block;
  padding: 20px 24px;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.portfolio-content__title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-sm-color);
  margin-bottom: 8px;
}

.portfolio-content__text {
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.footer {
  background: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer-contacts {
  margin-right: 70px;
}

.footer-contacts__list {
  display: block;
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--main-accent-color);
}

.footer-contacts__link--address {
  color: #FFFFFF;
}

.footer-social {
  margin-right: 93px;
}

.footer-social__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-newsletter__text {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-newsletter__form {
  display: flex;
}

.footer-newsletter__input {
  width: 358px;
  height: 50px;
  background: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;
  padding: 15px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
}

.footer-newsletter__input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-newsletter__btn--text {
  display: block;
  margin-right: 10px;
}

.footer-newsletter__btn--icon {
  display: block;
}
/*# sourceMappingURL=main.css.map */