.clients__title {
	font-weight: bold;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--main-title-sm-color);

	margin-bottom: 50px;
}

.clients__list {
	display: flex;
}

.clients__item {
	display: block;
	width: 170px;
	height: 92px;

	&:not(:last-child) {
		margin-right: 30px;
	}
}

.clients__link {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	
	color: var(--main-svg-cplor);
	border: 1px solid var(--main-svg-cplor);
	border-radius: 4px;

	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		border-color: var(--main-accent-color);
		color: var(--main-accent-color);
	}
}

.clients__icon {
	display: block;

	fill: currentColor;
}