.team {
	background: #F5F4FA;
}

.team__title {
	font-weight: bold;
	font-size: 28px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--main-title-sm-color);

	margin-bottom: 30px;

	@media screen and (min-width: 1200px) {
		font-size: 36px;
		line-height: 1.16;

		margin-bottom: 50px;
	}
}

.team__list {
	display: block;

	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
		margin-left: -30px;
    	margin-top: -30px;
	}

	@media screen and (min-width: 1200px) {
		
	}
}

.team__item {
	width: 100%;

	&:not(:last-child) {
		margin-bottom: 30px;
	}
	
	@media screen and (min-width: 768px) {
		flex-basis: calc(100% / 2 - 30px);
    	margin-left: 30px;
   	 	margin-top: 30px;
			
		&:not(:last-child) {
			margin-bottom: unset;
		}
	}

	@media screen and (min-width: 1200px) {
		flex-basis: calc(100% / 4 - 30px);
	}

	background-color: #FFFFFF;

	border-radius: 0px 0px 4px 4px;

	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__img {
	display: block;
	width: 100%;
	height: auto;
}

.team-caption {
	padding: 30px 32px;
}

.team-caption__title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--main-title-sm-color);

	margin-bottom: 10px;
}

.team-caption__text {
	font-weight: normal;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--main-text-color);

	margin-bottom: 16px;
}