:root {
	--logo-part-color: #2196F3; /* цвет части логотипа */
	--main-accent-color: #2196F3; /* цвет наведении */
	--header-nav-color: #212121; /* цвет навигации */
	--header-text-color: #757575; /* цвет остального текста шапки */
	--main-title-sm-color: #212121; /* цвет цвет заголовкоц низшего уровня */
	--main-text-color: #757575; /* цвет текста */
	--main-svg-cplor: #AFB1BB; /* цвет SVG картинок */
}